*{
	padding:0;
	margin:0;
}
.box{
	width:100%;
	height:800px;
	background: RGB(221,147,0);
}
.box_margin{
	width:1000px;
	margin:0 auto;
	height:800px;
	position: relative;
}
.project{
	width: 158px;
    height: 187px;
}
#one{
	position: absolute;
	top:300px;
	left:34px;
}
#two{
	position: absolute;
	top:300px;
	left:400px;
}
#three{
	position: absolute;
	top:300px;
	left:766px;
}
.egg {
	height:187px;
	position: absolute;
	left:0;
	top:0;
	z-index: 99;
}
.project, .project .egg{
	-webkit-transition: all 1s cubic-bezier(0.68,-.55,.265,1.55);
	-moz-transition: all 1s cubic-bezier(0.68,-.55,.265,1.55);
	-o-transition: all 1s cubic-bezier(0.68,-.55,.265,1.55);
	-ms-transition: all 1s cubic-bezier(0.68,-.55,.265,1.55);
	transition: all 1s cubic-bezier(0.68,-.55,.265,1.55);
}

#start{
	position:absolute;
	top:227px;
	left:34px;
	font-size:20px;	
}
#start p{
	float:left;
	letter-spacing:1px;
}
#start img{
	float:left;
}
.red{
	font-style: normal;;
	color:#ff0014;
}
.footer{
	position:absolute;
	left: -42px;	
	bottom:0px;
	height:350px;
	text-align:center;
	margin-top:10px;
	font-size:16px;
	color:#000;
	font-weight:bold;
	line-height:25px;
	width:1072px;
}
.chuizi{
	position: absolute;
	z-index:999;
	-webkit-transform:rotate(5deg);
	-moz-transform:rotate(5deg);
	-o-transform:rotate(5deg);
	transform:rotate(5deg);
	top:-20px;
	left:129px;
	width:74px;
	height:87px;
	display: none;
}
.hua{
	position: absolute;
	z-index:999;
	-webkit-transition: all 0.8s ease;
	-moz-transition::all 0.8s ease;
	-o-transition::all 0.8s ease;
	transition:all 0.8s ease;
	top:-45px;
	left:-34px;
	width:232px;
	height:145px;
	display: none;
}
.message{
	position:absolute;
	z-index:9995;
	width:140px;
	padding:10px;
	color:red;
	text-align:center;
	-webkit-transition::all 0.8s ease;
	-moz-transition::all 0.8s ease;
	-o-transition::all 0.8s ease;
	transition:all 0.8s ease;
	top:0;
	left:0px;
	display: none;
}
.chui_up{
	-webkit-transform:rotate(5deg);
	-moz-transform:rotate(5deg);
	-o-transform:rotate(5deg);
	transform:rotate(5deg);
	-webkit-transition:all 0.1s ease;
	-moz-transition:all 0.1s ease;
	-o-transition:all 0.1s ease;
	transition:all 0.1s ease;
}
.chui_down{
	-webkit-transform:rotate(5deg);
	-moz-transform:rotate(5deg);
	-o-transform:rotate(5deg);
	transform:rotate(5deg);
	-webkit-transition:all 0.1s ease;
	-moz-transition:all 0.1s ease;
	-o-transition:all 0.1s ease;
	transition:all 0.1s ease;
}
