*{
	padding:0;
	margin:0;
	font-family: "黑体";
}
.message img{
	width:70%;
}
.box{
	width:100%;
	height:2190px;
	background:url(../imgs/bg.jpg) no-repeat;
	background-position: center top;
	background-size:100% 100%;
}
.box_margin{
	width:1000px;
	margin:0 auto;
	height:2190px;
	position: relative;
}
.project{
	width: 158px;
    height: 187px;
    z-index:999;
}
#one{
	position: absolute;
	top:834px;
	left:34px;
}
#two{
	position: absolute;
	top:834px;
	left:400px;
}
#three{
	position: absolute;
	top:834px;
	left:766px;
}
.egg {
	height:187px;
	position: absolute;
	left:0;
	top:0;
	z-index: 99;
}
.project, .project .egg{
	-webkit-transition: all 1s cubic-bezier(0.68,-.55,.265,1.55);
	-moz-transition: all 1s cubic-bezier(0.68,-.55,.265,1.55);
	-o-transition: all 1s cubic-bezier(0.68,-.55,.265,1.55);
	-ms-transition: all 1s cubic-bezier(0.68,-.55,.265,1.55);
	transition: all 1s cubic-bezier(0.68,-.55,.265,1.55);
}

#start{
	position:absolute;
	top:776px;
	left:34px;
	font-size:20px;	
}
#start p{
	float:left;
	letter-spacing:1px;
}
#start img{
	float:left;
}
.red{
	font-style: normal;;
	color:#ff0014;
}
#info{
	position:absolute;
	top:1052px;
	left:35px;
	letter-spacing:1px;
	font-size:18px;
	color:#d6af05;
}
.tj{
	font-size:20px;
	position:absolute;
	top:1082px;
	right:23px;
	padding:8px;
	color:#d6af05;
}
.rule_z{
	width:1330px;
	height:616px;
	background:url(content_bg.png) no-repeat;
	background-size:100% 100%;
 	position:absolute;
	top:1122px;
	left:-140px;
	z-index:99;
}
.rule{
	width:832px;
	margin-left:232px;
	margin-top:98px;
}
.rule .big{
	font-size:45px;
	color:#000;
	letter-spacing:2px;
	color:#d6af05;
}
.rule .small{
	font-size:22px;
	letter-spacing:2px;
	line-height:45px;
	color:#d6af05;
}
.last{
	font-size:24px;
	letter-spacing:2px;
	color:#d6af05;
	font-style:normal;
	margin-left:14px;

}
.erweima{
	position:absolute;
	bottom:209px;
	left:-42px;
	width:1072px;
	text-align:center;
}
.footer{
	position:absolute;
	left: -42px;	
	bottom:0px;
	height:350px;
	text-align:center;
	margin-top:10px;
	font-size:16px;
	color:#000;
	font-weight:bold;
	line-height:25px;
	width:1072px;
}
.chuizi{
	position: absolute;
	z-index:999;
	-webkit-transform:rotate(5deg);
	-moz-transform:rotate(5deg);
	-o-transform:rotate(5deg);
	transform:rotate(5deg);
	top:-20px;
	left:129px;
	width:74px;
	height:87px;
	display: none;
}
.hua{
	position: absolute;
	z-index:999;
	/*-webkit-transition: all 0.8s ease;
	-moz-transition::all 0.8s ease;
	-o-transition::all 0.8s ease;
	transition:all 0.8s ease;*/
	top:-45px;
	left:-56px;
	display: none;
}
.hua img{
	width:144%;
}
.message{
	position:absolute;
	z-index:9995;
	width:140px;
	padding:10px;
	color:red;
	text-align:center;
	/*-webkit-transition::all 0.8s ease;
	-moz-transition::all 0.8s ease;
	-o-transition::all 0.8s ease;
	transition:all 0.8s ease;*/
	top:9px;
	left:74px;
	display: none;
}
.chui_up{
	-webkit-transform:rotate(5deg);
	-moz-transform:rotate(5deg);
	-o-transform:rotate(5deg);
	transform:rotate(5deg);
	-webkit-transition:all 0.1s ease;
	-moz-transition:all 0.1s ease;
	-o-transition:all 0.1s ease;
	transition:all 0.1s ease;
}
.chui_down{
	-webkit-transform:rotate(5deg);
	-moz-transform:rotate(5deg);
	-o-transform:rotate(5deg);
	transform:rotate(5deg);
	-webkit-transition:all 0.1s ease;
	-moz-transition:all 0.1s ease;
	-o-transition:all 0.1s ease;
	transition:all 0.1s ease;
}
.islogin{
	width:400px;
	height:94px;
	border:2px solid #000;
	position:absolute;
	top:15%;
	left:50%;
	margin-left:-200px;
	background:#fff;
	font-size:24px;
	text-align:center;
	display:none;
}

@-webkit-keyframes run{
    0%{
	  	opacity:1;
	  	left:74px;
    }
	50%{
		opacity:0.5;
    	left:46.5px;
	}
	100%{
		opacity:0;
	  	left:-19px;
	}
}
.message_run{animation:run 1.5s ease;-webkit-animation:run 1.5s ease;}
.message_p{top:9px;left:-19px; z-index:9 ;display: block;}

.mask{
	width:1000px;
   	height:2190px;
    position: absolute;
    top:0;
    left:0;
    z-index:99999;
    display: none;
}
